:root {
    --red: #E50914;
    --black: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}

header .container h2 {
    color: var(--red);
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size: 60px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-left: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
}

header nav a:hover {
    color: #ffffff;
}

/* Filme principal */

.mainBanner {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/serieBanner.jpg);
    height: 400px;
    background-size: cover;

    /* Alinhando texto dentro do container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.description {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 55%;

}

.tittle {
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Jockey One', sans-serif;
}

.button {
    background-color: rgba(0,0,0,.50);
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: 400ms; 
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 8px;
    
}

.container {
    margin-left: 30px;
}

.buttons {
    margin-left: 30px;
}

.mainBanner .container {
    width: 80%;
}

/* Carousel */
.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel-series {
    margin-top: 10px;
}
